
$breakpoint-sm: '(min-width: 360px)';
$breakpoint-md: '(min-width: 768px)';
$breakpoint-lg: '(min-width: 1024px)';
$breakpoint-xl: '(min-width: 1440px)';
$breakpoint-xxl: '(min-width: 1600px)';
$breakpoint-xxxl: '(min-width: 1920px)';