$yellow-default: #ECB365;
$yellow-900: #FF9300;
$yellow-800: #FFA224;
$yellow-700: #FFAB39;
$yellow-600: #FFB54F;
$yellow-500: #FFBD62;
$yellow-400: #FFC472;
$yellow-300: #FFCC87;
$yellow-200: #FFD59B;
$yellow-100: #FFE1B7;

$dark-blue-default: #04293A;
$dark-blue-deepBlue: #00090c;
$dark-blue-1000: #001218;
$dark-blue-900: #00283A;
$dark-blue-800: #05293A;
$dark-blue-700: #082A3A;
$dark-blue-600: #0C2C3A;
$dark-blue-500: #102D3A;
$dark-blue-400: #142E3A;
$dark-blue-300: #172F3A;
$dark-blue-200: #1E3540;
$dark-blue-100: #213640;

$grayscale-900: #121212;
$grayscale-800: #242424;
$grayscale-700: #363636;
$grayscale-600: #484848;
$grayscale-500: #606060;
$grayscale-400: #727272;
$grayscale-300: #848484;
$grayscale-200: #969696;
$grayscale-100: #A2A2A2;